h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 22410006-4. Implementar plan de emergencia para la atención de víctima de un accidente eléctrico de acuerdo con la normatividad vigente.