.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Aislante:
            | aislante eléctrico es un material de baja conductividad eléctrica que puede ser tomado como no conductor o aislador. RETIE; Pág. 17.
        
        p
            strong.mr-2 BES:
            | Bomba Electrosumergible.
        p 
            strong.mr-2  Cizalla:
            | es el nombre que recibe una herramienta manual, bastante similar a una tijera, pero que se diferencia por su tamaño y por la fuerza que puede ejercer para cortar diferentes materiales resistentes. (significados.com; s.f.)
        p
            strong.mr-2 Cubridores:
            | elemento dieléctrico usado como protección frente al riesgo de tipo eléctrico.

        p
            strong.mr-2 Dieléctrico:
            | ver aislante. RETIE; Pág. 21.

        p
            strong.mr-2 Epoxiglas:
            | material compuesto por miles de fibras de vidrio impregnadas de resina epoxica.

        p
            strong.mr-2 EPP:
            | Elementos de Protección Personal.

        p
            strong.mr-2 Flexiglás:
            | material termoplástico transparente a base de petróleo típicamente fabricado en láminas.  Es un material fuerte, resistente y liviano, con una mayor resistencia al impacto que el vidrio. 

        p
            strong.mr-2 Inspección:
            | conjunto de actividades tales como medir, examinar, ensayar o comparar con requisitos establecidos, una o varias características de un producto o instalación eléctrica, para determinar su conformidad. RETIE; Pág. 24.

        p
            strong.mr-2 Jornadas de Inspección:
            | tiempo dedicado a la actividad de inspecciones. Estas pueden o no ser planeadas.

        p
            strong.mr-2 MASE:
            | manual manejo Seguro del sistema eléctrico en Ecopetrol.. 

        p
            strong.mr-2 MEDEVAC:
            | es un sistema de traslado de pacientes desde una ubicación remota hasta un hospital especializado.

        p
            strong.mr-2 Pértiga telescópica:
            | La pértiga telescópica con acoplamiento universal, fabricada con tubo de resina poliéster reforzado con fibra de vidrio. Está diseñada para proporcionar protección contra descargas eléctricas, aislamiento térmico para evitar quemaduras o lesiones.         