.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Ministerio de Minas y Energía, 2013, Resolución 90708. Reglamento Técnico de Instalaciones Eléctricas – RETIE.
                    
                    td PDF
                    td 
                        a(href="media/documentos/AnexoGeneraldelRETIEvigenteA2015_1.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Ecopetrol, (2016). Manual Manejo Seguro del Sistema Eléctrico en Ecopetrol (MASE).
                    
                    td PDF
                    td 
                        a(href="media/documentos/GHS_M_001_ (MASE)_MANEJO_SEGURO_DEL_SISTEMA_EL+ëCTRICO_ EN_ECOPETROL_NORMAS_Y_PRO.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Unidad administrativa especial dirección nacional de Bomberos. (2014). Resolución 0256 del 21 de octubre.
                    
                    td PDF
                    td 
                        a(href="media/documentos/Resolucion0256del21deOctubrede2014BrigadasContraincendio.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver  