.header-arrow {
  background: rgb(181,56,24);
  background: linear-gradient(180deg, rgba(181,56,24,1) 0%, rgba(255,112,96,1) 100%); 
  position: relative;
  padding: 2rem;

  h1,h2,h3 {
      margin: 0;
      color:white; 
      text-align: center;     
  }

  &--xs {
    padding: 0;
    height: 8px;
  }

}

.header-arrow::before {
   content: '';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-style: solid;
    border-width: 25px 25px 0px 25px;
    border-color: #ff7060 transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    margin-top: 0px; 
    z-index: 20;
}

